.navbar-brand{
	padding-top: 12px;
	
}

.card{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
}

img{
	max-width: 50px;
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}

.link-card{
	float: right;
	
}

.card-title{
	float: left;
	padding-top: 3px;
}